$chart_item_background_color: rgba(rgb(0, 43, 185), 0.5);
$char_color: #fff;

.column {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    background-color: $chart_item_background_color;
    color: $char_color;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .text-wrapper {
        display: block;
        flex-shrink: 0;
        margin-bottom: auto;
        z-index: 2;

        .country,
        .performance {
            display: block;
            margin-top: 10px;
        }
    }

    .character {
        z-index: 2;
        flex-shrink: 0;
        transition: all 1.8s linear;

        img {
            max-width: 100%;
        }
    }

    .performance-bar {
        flex: 0 0 auto;
        transition: all 1.8s linear;

        &::after {
            content: "";
            width: 100%;
            height: inherit;
            position: absolute;
            bottom: 0;
            left: 0;
            background: inherit;
            z-index: 1;
        }
    }
}