$base_white: #fff;
$chart_background_color: #0a042e;
$y_axis_border_color: rgba($base_white, 0.09);
$percentage_lable_color: rgba($base_white, 0.3);
$title-color: $base_white;
$text_color_secondery: #05004d;
$chart_item_background_color: rgba(#190c69, 0.35);
$char_color: #fff;