<div class="chart-wrapper">
  <div class="title">
    gaming legends
  </div>
  <ul class="y-axis">
    <li class="graph-row-lable" *ngFor="let percentage of percentageLables">
      <span class="percentage-lable">{{percentage}}%</span>
    </li>
  </ul>
  <div class="chart-column-wrapper">
    <chart-column *ngFor="let chartItem of chartItems" [chartItem]="chartItem">
    </chart-column>
  </div>
  <span class="today-markup" [style.bottom.%]="currentTarget">
    <span class="today-text">
      Today
    </span>
  </span>
</div>