@import "./../../shared/variables";
@import "./../../shared/animations";

.chart-wrapper {
  background-color: $chart_background_color;
  color: $base_white;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top-section {
    position: relative;
    flex: 1 0 15%;
    display: flex;
    // justify-content: center;
    @include fadeInAnimation;

    .last-modify {
      position: absolute;
      left: 105px;
      align-self: center;
      font-size: 16px;
      font-weight: 400;

      .date {
        margin-left: 5px;
      }
    }

    .logo {
      width: 25%;
      margin: 20px auto 0;

      img {
        max-width: 100%;
      }
    }
  }

  .chart-section {
    position: relative;
    flex: 1 0 85%;

    .title {
      color: $title-color;
      z-index: 2;
      font-size: 48px;
      font-weight: 700;
      line-height: 52px;
      text-transform: uppercase;
      position: absolute;
      top: 40px;
      left: 30px;
      width: 10%;
    }

    .y-axis {
      display: flex;
      flex-direction: column;
      font-size: 17px;
      font-weight: 400;
      height: 100%;
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 1;

      .graph-row-lable {
        position: relative;
        display: flex;
        flex: 1 0;
        border-top: 1px solid $y_axis_border_color;
        padding-top: 6px;

        .percentage-lable {
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: 100%;
          transform: translateY(+50%);
          padding: 0 10px;
          color: $percentage_lable_color;
          background-color: $chart_background_color;
        }
      }
    }

    .chart-column-wrapper {
      display: inline-flex;
      position: absolute;
      top: 0;
      left: 100px;
      width: calc(100% - 100px);
      height: 100%;
      z-index: 2;

      chart-column {
        flex: 1 1;
        margin-right: 16px;

        &:last-child {
          margin-right: 85px;
        }
      }
    }

    .today-markup {
      position: absolute;
      display: block;
      right: 0;
      width: 95%;
      border-top: 1px solid rgba($base_white, .5);
      margin-right: 15px;
      z-index: 2;
      transition: all 1s linear;
      @include fadeInAnimation;

      .today-text {
        position: absolute;
        bottom: 50%;
        right: 0;
        transform: translateY(+50%);
        font-size: 16px;
        font-weight: 400;
        color: $text_color_secondery;
        background-color: $base_white;
        padding: 5px 10px;
        border: 2px solid $base_white;
      }
    }
  }
}
